<%include ../partials/header.ejs%>
<div class="container">
	<div class="jumbotron" style="text-align: center">
		<h1 class="display-3">Employee Database</h1>
		<br>
		<a href="/employee/new"><button  class="btn btn-lg  btn-primary">Add Employee</button></a>
	</div>
	<div class="row">
			<%emp_data.forEach(function(data){ %>
			<% console.log(data+"asas") %>
				<div class="col md-3 sm-6 ">   
					<div id="card-des" class="card" style="width: 15rem;">
						<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="employee"> 
						<div class="card-body">  
								<h4 class="card-text"> <%= data.name %></h4>		
								<h5 class="card-text"> <%= data.post %></h5>		
							<a href="/employee/<%=data._id%>"><button class="btn btn-md btn-primary">info</button></a>	
						</div>
					</div>
				</div>
				<br>
			<%});%>
			<br>
	</div>
</div>
<%include ../partials/footer.ejs%>