<%include ../partials/header.ejs%>
<ul>
    <% allNotifications.forEach(function(notification){ %>
        <li>
            <a href='/notifications/<%=notification.id %>'>
                <%= notification.username %> <%= notification.message %> 
            </a>
        </li>
    <% }); %>
</ul>
<%include ../partials/footer.ejs%>