<%include ../partials/header.ejs%>
<div class="container">
	<div class="jumbotron" style="text-align: center">
		<h1 class="display-3">Yelp Camp !!</h1>
		<h3>Go camping</h3>
		<br>
		<a href="/campgrounds/new"><button  class="btn btn-lg  btn-primary">Add New Camp</button></a>
	</div>

	<div class="row">
	 <%camp_data.forEach(function(data){ %>
		<div class="col md-3 sm-6 ">   
			<div id="card-des" class="card" style="width: 15rem;">
				<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="Invisible Campsite"> 
				<div class="card-body">  
						<h3 class="card-text"> <%= data.name %></h3>		
					<a href="/campgrounds/<%=data._id%>"><button class="btn btn-md btn-primary">info</button></a>	
				</div>
			</div>
		</div>
		<br>
	<%});%>
	</div>
</div>
<%include ../partials/footer.ejs%>